html {
  font-size: 62.5%;
  font-family: 'Press Start 2P', cursive;
  color: rgba(0, 0, 0, 0.626);
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: rgb(0, 198, 255);
  background: linear-gradient(339deg, rgba(0, 198, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
button {
  font-family: inherit;
  border-radius: 5px;
  color: #313131;
}
h2 {
  font-size: 1.2;
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.fix-position {
  transform: translateX(0.8rem);
}

#on {
  font-size: 1rem;
}
.container {
  position: relative;
}

.text {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30.5rem;
  height: 10.8rem;
  z-index: 3;

  position: absolute;
  background-color: #c3c3c3;
  box-shadow: inset 0 0 2px #000000;
  transition: 0.5s;
  top: 17.4rem;
  left: -16rem;

  border-radius: 6px;
}

.color {
  background-color: #95c494;
  transition: 0.5s;
}

img {
  width: 70rem;
  position: absolute;
  right: -35rem;
  z-index: -1;
}

.section {
  width: 30rem;
  height: 30rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;

  top: 35rem;
  left: -16rem;
  position: absolute;
  z-index: 2;
}

#back {
  grid-column-start: 1;
  grid-column-end: -3;
}

#equal {
  grid-column-start: -1;
  grid-column-end: -3;
}

.active {
  background-color: #ababab;
}
